/* Body style */
body {
  font-family: 'Abyssinica SIL', serif; /* Default to Abyssinica SIL for the entire body */
  margin: 0;
  background-color: #FFFDF5;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Override specific font styles */
.sansita-font, .button {
  font-family: 'Sansita One', sans-serif !important; /* Sansita One for specified elements */
}

/* Centered header for "Pick a year group to get started!" */
h2.centered-header {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  text-align: center;
  font-size: 2em;
  margin: 20px 0; /* Add some margin for spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.main-paragraph, .centered-header {
  font-family: 'Plus Jakarta Sans', sans-serif !important; /* Plus Jakarta Sans for specified text */
}

/* Top navigation bar */
.topnav {
  position: relative;
  background-color: #0C3B2E;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #e2dbd0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #78A57E;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* Flexbox container */
.flex-container {
  display: flex;
  align-items: center;
}

.picture img {
  margin-left: 150px;
  margin-top: 15px;
}

.flex-container .content {
  margin-left: 100px;
}

.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #78A57E;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #493D2F;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #2A231B;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #78A57E;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #78A57E;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-content {
  transition: margin-left 0.5s;
  padding: 16px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  font-family: 'Sansita One', sans-serif;
  background-color: #78A57E;
  border: none;
  color: white;
  padding: 50px 125px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(79, 109, 90, 1);
}

.button2 {
  background-color: #78A57E;
}

.button2:hover {
  background-color: rgba(79, 109, 90, 1);
}

.menu-icon {
  float: left;
  padding: 14px 16px;
  height: 24px;
  cursor: pointer;
}

.main-header {
  font-family: 'Abyssinica SIL', serif; /* Abyssinica SIL for the main header */
  text-align: center;
  font-weight: 500;
  font-size: 2.5em;
}

.main-paragraph {
  text-align: center; /* Plus Jakarta Sans for the paragraph */
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5em;
}

.shadow {
  width: 100%;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0;
  text-align: left;
  background: white;
}

.question-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.question img {
  width: 100%;
  height: auto;
}

.green-line {
  width: 80%;
  height: 5px;
  background-color: #78A57E;
  margin: 0 auto;
  margin-top: -10px;
}

.text-slideshow-container {
  width: 80%;
  background-color: #607d61;
  color: white;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-slideshow p {
  display: none;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}















